/* Style uicontrol elements. */
.uicontrol {
  font-weight: bold;
  color: #000;
}

/* Style wintitle elements. */
.wintitle {
  font-weight: bold;
}

/* Style keyboard keys/shortcuts. */
.shortcut {
  font-variant: small-caps;
  text-transform: lowercase;
  color: #000;
}

/* Hide menucascade symbols */
abbr[title] {
  display: none;
  }
  /* Apply custom menucascade symbols */
  abbr + span.uicontrol::before {
    /*content: " ⇨ ";*/
    content: " → ";
    display: inline;
  }