/* Import the Roboto Google font. */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400");

/* Set the Roboto font properties for the document body and #content-wrapper. */
* {
  font-family: "Roboto", Helvetica, Arial;
}

/* Set line height for the content area */
div.markdown {
  line-height: 1.5em;
}

/* Set how the strong elements are displayed.
Asserts that their children elements are uniformly styled. */
strong
strong * {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

/* Set how the emphasized elements are displayed.
Asserts that their children elements are uniformly styled. */
em,
em * {
  font-style: italic;
  font-family: inherit;
  font-size: inherit;
}

/* Set how the underlined elements are displayed.
Asserts that their children elements are uniformly styled. */
.u,
.u * {
  font-style: normal;
  text-decoration: underline;
  font-family: inherit;
  font-size: inherit;
}