/* Set paragraph margins */
p,
.p {
  display: block;
  padding: 0;
  margin: 5px 0px 0px 0px;
}

/* Make the first paragraph inline in the following elements. */
.info > p:first-child,
.result > p:first-child,
.example > p:first-child,
.stepresult > p:first-child,
.stepxmp > p:first-child,
.td > p:first-child,
.choice >  p:first-child,
.cause > .title + p,
.remedy > .title + p {
  display: inline;
}

/* If a block element is placed in a paragraph, discard the paragraph margins. */
.p:has(.note:only-child, .codeblock:first-child, .fig:first-child, .image:first-child, .lq:first-child, table:first-child, dl:first-child)
p:has(.note:only-child, .codeblock:first-child, .fig:first-child, .image:first-child, .lq:first-child, table:first-child, dl:first-child) {
  margin: 0px;
}