/* Avoid overflowing text in links: */
a {
  word-wrap: break-word;
}

/* Style inline cross-references. */
.xref,
.link {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

/* Correctly display links to steps. */
.taskbody a[href*="step"] {
  content: "step " target-counter(attr(href), li);
}

/* Correctly display links to substeps. */
.taskbody a[href*="substep"] {
  content: "substep " target-counter(attr(href), li, lower-alpha);
}

/* Style Related links. */
section.related-links {
    margin-top: 15px;
}
li.linklist {
    margin-left: 35px;
}